
.head{
    width: 100%;
    height: 30px;
    display: inline;
    background-color: aqua;
    color: red;
    flex-wrap: flex;
}
.head h3{
    font-size: 20px;
    text-align: end;
    padding-right: 20px;
}
.home-section{
    width: 600px;
    text-align: center;
    background-color: aquamarine;
    color: black;
    margin-left: 30%;
    overflow: hidden;
}
.home-section div button{
    background-color: blue;
    color: white;
    margin-top: 5px;
    font-size: 20px;
}
.home-section button:hover{
    cursor: pointer;
}
.question-section{
   background-color: aquamarine;
   border-radius: 5px;
   box-shadow: 5px 5px 5px 5px gray;
   width: 600px;
   margin-left: 30%;
   overflow: hidden;
}
.question{
    padding: 0;
}
.question-section li{
    font-size: 15px;
    margin : 2px;
    text-align: left;
    padding: 5px;
}
.question-section div ul{
    list-style: none;
    padding: 0;
}
.question-section label{
    cursor: pointer;
}
.question-section button{
    align-items: center;
    color: white;
    background-color: blue;
    font-size: 20px;
    font-weight: 200;
    margin: 5px;
    width: 100px;
    cursor: pointer;
    align-items: end;
}
.final-section{
    width: 600px;
    text-align: center;
    background-color: aquamarine;
    color: black;
    margin-left: 30%;
    overflow: hidden;
}
.final-section div h2{
    font-size: 30px;
}
.final-section button{
    margin-left: 10px;
    background-color: blue;
    color: white;
    border-radius: 3px;
}
.final-section input{
    margin-left: 5px;
}
.hide{
    display: none;
}
